<h4>Seleccione una opción</h4>
<section class="example-section">
  <mat-checkbox class="example-margin" (click)="openDialog(1)">Si Abono, Si Intercambio</mat-checkbox><br><br>
  <mat-checkbox class="example-margin" (click)="openNoAbono(2)">No Abono, Si Intercambio</mat-checkbox><br><br>
  <mat-checkbox class="example-margin" (click)="openSiAbonoIntercambio(3)">Si Abono, No Intercambio</mat-checkbox><br><br>
  <mat-checkbox class="example-margin" (click)="openSoloInyectar(4)">Solo reinyectar</mat-checkbox>
</section>